/* Google fonts import: Bebas Neue and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: yellow;
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;

}

a {
    text-decoration: none;
}

main {
    background-color: lightgray;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;


}

main h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
   
}

footer {
    background-color: pink;
    margin-top: auto;
}