/* Google fonts import: Bebas Neue and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right top, #add8e6, #69e5e8, #2beec6, #5df183, #a8eb12);
    margin: 0%;
}



a {
    text-decoration: none;
}

header {
    background-color: yellow;
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}

#nav-list {
    list-style-type: none;
    font-size: 130%;
}

#nav-list>li {
    padding: 7px;
}

.active {
    border-bottom: 1px solid;
}

nav {
    /* position absolut is positioned relative to the nearest positioned ancestor, the header (instead of positioned relative to the viewport) */
    position: absolute;
    background-color: lightyellow;
    width: 100%;
    right: 0;
    display: none;
    /*nav starts at bottom of parrent, the header */
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-icon {
    
    font-size: 2rem;
    margin-left: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.logo {
   
    margin-top: -220px;
    padding: 1rem;
    padding-bottom: 0%;
}

.img_with_text_on_top {
    position: relative;    
    color: rgb(0, 0, 0);
}

.square_with_text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    background: rgba(255, 208, 0, 0.7); 
    width: 50%; 
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

main h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: red;
}

main p {
    font-optical-sizing: auto;
    line-height: 23px;
}

.comming_up {
    width: 60%;
    margin: auto;
    border: 1px solid grey;
    padding: 1rem;
    opacity: 70%;
    background-color: white;
}

#coming_up_h1 {
    margin: 0%;
}

label {
    font-optical-sizing: auto;
    line-height: 23px;
}

#background-img_hero {
    background-image: url("../images/people.webp");
    background-size: cover;
    height: 350px;
}

#background-img_bicycle {
    background-image: url("../images/bicycle.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px; 
}

#background-img_time {
    background-image: url("../images/time.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px; 
}

/* Images */
#sewing {
    width: 100%;
    display: flex;
}

#together {
    width: 100%;
    display: flex;
}

/* How and Who page */

#org_name_how_and_who {
    margin-top: 100px;
}

#cooking {
    width: 100%;
    margin-top: 80px;
}

#bicycle {
    width: 100%;
}


/* About page */

#threepeople {
    width: 100%;
}

footer {
    background-color: pink;
    padding-left: 9px;
    padding-right: 9px;
}

#contact {
    background-color: beige;
    list-style-type: none;
    display: flex;
    font-size: 25px;
}

#contact>li {
    padding-right: 20px;

}

footer>p {
    font-size: 11px;

}

/* Media query: tablet(768px and up) */
@media screen and (min-width:768px) {
    /* Header*/


    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #nav-list {
        display: flex;
    }

    #nav-list>li {
        padding-left: 20px;
    }

    .nav-toggle-icon {
        display: none;
    }

    footer>p {
        font-size: 18px;
      }
}

/* Media query: screen (992px and up)*/
@media screen and (min-width:992px) {
    #nav-list>li>a:hover {
        border-bottom: 1px solid;
    }
}